.movie-view {
    .img {
        img {
            max-width: 100%;
        }
    }

    .dl-horizontal {
        dt {
            width: 105px;
            text-align: left;
        }
        dd {
            margin-left: 115px;
        }
    }
}