$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Typography
$font-family-sans-serif: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
$font-size-base: 14px;
$line-height-base: 1.6;
