.your-list {
    .filters {
        h4 {
            margin-top: 0;
        }

        & > div {
            margin-bottom: 15px;
        }
    }

    .sort {        
        text-align: right;

        h4 {
            margin-top: 0;
        }
    }

    .movie {
        padding-bottom: 80px;

        .btn-area {
            height: 65px;
        }
    }
}